* {
    font-family: Arial, Helvetica, sans-serif;    
    box-sizing: border-box;

}

body {
    background:linear-gradient(white, rgb(250, 222, 228), rgb(252, 181, 199), rgb(253, 137, 166));
    background-size:cover;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;  
    justify-content: center;
}

span#name, span#profession{
    font-size: 1.2rem;
    color: #1a0713;
    position: relative;
}

span#profession{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul.menu-container {
    text-align: center;
    list-style-type: none; /* Quitamos las viñetas de la lista */
    margin: 0;
    padding: 0;
}
nav ul.menu-container li {
    display: inline-flex; /* Ítems del menú en una línea horizontal */ 
}

#home,#cv,#proyectos,#contacto,#research,#me{
    background-color:rgb(253, 219, 223);
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
    padding: 2px 4px;
    display: inline-block;
    color: #1a0713;
    margin:70% 0 10% 0;
}

.description-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
    justify-content: center;
}

.rowhead-container{
    display: grid;
    grid-template-columns:  4fr 1fr;
}

.row-container {
    display: inline-flex; 
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}


h1.tittle{
    font-size: 6rem;
    color: #f15e83;
    text-align: center;
} 

img.perfil-container {
    margin: 0 2% 0 35%;
    height: auto;
    max-width: 26rem;
}

img.circle {
    position:inherit;
    max-width: 2rem;
    margin: 0 4px 0 0;
    transform: translateY(20%);

}

img.socialmedia{
    position:relative;
    max-width: 2rem;
    margin: 0 8px;
    transform: translateY(20%);
}

p#description {
    margin: 1% 15% 0 0;
    font-size: 2.7rem;
    color: #1a0713;;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#checkportfolio{
    background-color: #f15e83;
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 2rem;
    font-weight:bold;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 12px;
    color: white;
}

.button-container{
    text-align: center;
    border-radius: 20px;
    margin: 2% 0 5% 0;
    text-decoration: none;
    cursor: pointer;
    border-color: black;
    display: flex;
    max-width: 100%;
    height: auto;
}

.project-container {
    text-align: center;
    border-radius: 10px;
    margin: 0 0 0 36%;
    text-decoration: none;
    cursor: pointer;
    border-color: black;
    border-width: 4px;
    font-size: 1.5em;
    font-weight: bold;
    max-width: 45%;
    height: auto;
    justify-content: center;
}

img.project-container {
    margin: 0 0 0 35%;
    max-width: 44%;
    height: auto;
}

.footer{
    font-size: 1em;
    color: rgb(255, 255, 255);
    margin: 0 0 6px 0;
    text-align: center;
}

.footer-all{
    margin: 40px 0 10px 0;
}

/*Form style*/

form{
    box-sizing: border-box;
    margin: 50px 400px 0px 410px;
    display: grid;
    width: 500px;
    height: 850px;
    border:2px solid;
    border-color: rgb(189, 188, 188);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

h2.tittle{
    font-size: 30pt;
    color: rgb(39, 37, 38);
    text-align: center;
    margin-bottom: 10px;
} 

input,textarea {
	outline: none;
	border: 2px solid;
    border-radius: 10px;
    background-color: rgb(247, 238, 238);
    border-color: lightgray;
}

::placeholder{
    text-align: justify;
    font-size: 16pt;
    text-indent: 0.5cm;
}

input.contact-form{
    height: 62px;
    width: 400px;
}

textarea.contact-form{
    min-height: 199px;
    min-width: 400px;
}

button.full-width{
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid;
    border-radius: 10px;
    font-size: 18pt;
    font-weight: bold;
    background-color: rgb(247, 238, 238);
    padding: 10px 10px ;
    width: 410px;
    border-color: lightgray;
}

/* Queries */

@media (max-width: 768px) {
    h1.tittle {
        font-size: 4rem;
    }

    img.perfil-container {
        max-width: 100%;
        margin: 0 auto;
    }

    p#description {
        font-size: 2rem;
        margin: 20px;
    }

    .project-container{
        font-size: 1rem;
    }

    span#name, span#profession{
        font-size: 1rem;
    }
